<div class="d-flex justify-content-center m-5">
  <form class="align-items-center">
  	<div class="row gx-3">
  		
	    <div class="col-md-4">
	      <!-- <label class="visually-hidden" for="autoSizingInput">Name</label> -->
	      <input type="text" class="form-control" id="autoSizingInput" placeholder="что вы ищите">
	    </div>
	    <div class="col-auto">
	      <!-- <label class="visually-hidden" for="autoSizingSelect">Preference</label> -->
	      <select class="form-select" id="autoSizingSelect">
	        <option selected>тип недвижимости</option>
	        {% for typee in estate_types %}
	        <option value="{{typee.0}}">{{typee.1}}</option>
	        {% endfor %}
	      </select>
	    </div>
	    <div class="col-auto">
	      <!-- <label class="visually-hidden" for="autoSizingSelect">Preference</label> -->
	      <select class="form-select" id="autoSizingSelect">
	        <!-- <option selected>вы хотите</option> -->
	        {% for cat in categories %}
	        <option value="{{cat.id}}">{{cat.name}}</option>
	        {% endfor %}
	      </select>
	    </div>
	    <div class="col-auto">
	      <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
	    </div>
  	</div>
  	<div class="row gy-4 gx-3">
  		<div class="col-auto">
	      <!-- <label class="visually-hidden" for="autoSizingSelect">Preference</label> -->
	      <select class="form-select" id="autoSizingSelect">
	        <option selected>сколько комнат</option>
	        <option value="1">1</option>
	        <option value="2">2</option>
	        <option value="3">3</option>
	      </select>
	    </div>
	    <div class="col-md-6">
	      <label for="customRange1" class="form-label">цена:</label>
	      <input type="range" class="form-range" id="customRange1">
	    </div>
	    <div class="col-auto">
	      <div class="form-check">
	        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
	        <label class="form-check-label" for="autoSizingCheck">
	          Мебель
	        </label>
	      </div>
	    </div>
    </div>
  </form>
</div>