{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="d-flex flex-wrap justify-content-around row">
    {% for estate in real_estate %}
        <div class="card m-3" style="width: 22rem;">
            <a href="{{estate.get_absolute_url}}">
                <img src="{% static 'assets/types-of-homes-hero.jpg' %}" class="card-img-top mt-3" style="height: 14rem; object-fit: cover;" alt="...">
                <div class="card-body text-center" style="height: 10rem;">
                  <h5 class="card-title" style="font-weight: 600">{{estate.title|truncatewords:3}}</h5>
                  <p class="card-text">{{estate.text|truncatewords:10}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="d-flex justify-content-between">
                        <div class="col-5">
                            <p class="card-text" style="margin: 8px 0 0 17px;">Площадь: {{estate.area}}</p>
                        </div>
                        <div class="d-flex justify-content-end" style="margin-top: 8px;">
                            {% with ''|center:estate.rating as range%}
                                {% for _ in range %}
                                    <i class="fa fa-star" style="color: #EF8354;"></i>
                                {% endfor %}
                            {% endwith%}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col">
                            <p class="card-text {%if estate.furnuture%} colored {% else %} grey {% endif %}" style="margin: 8px 0 0 17px;"><i class="fas fa-couch"></i></p>
                        </div>
                        <div class=" justify-content-end" style="margin: 8px 0 0 17px;">
                            <p>Комнат: {{estate.number_of_rooms}}</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <p  style="margin: 8px 0 0 15px;">Тип недвижимости:<span class="icon {{estate.estate_type}}"  style="margin: 0 0 0 10px;"></span></p>
                        </div>
                        <div class="justify-content-end" style="margin: 10px;">
                            <p>{{estate.price}}<i class="fas fa-dollar-sign" style="color: green; font-size: 24px;"></i></p>
                        </div>
                    </div>
                </ul>
            </a>        
        </div>
    {% endfor %} 
</div>

{% endblock content %}