{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for estate in real_estate %}
    <div class="col">
        <div class="card" style="width: 23rem;">
          <img src="{% static 'assets/types-of-homes-hero.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{estate.title}}</h5>
              <p class="card-text">{{estate.text}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Цена: {{estate.price}} $</li>
              <li class="list-group-item">Тип продажи: {{estate.category}}</li>
              <li class="list-group-item">Адрес: {{estate.address}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
  {% endfor %}    
</div>
{% endblock content %}

