{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style/list_page.css' %}">
<div class="card-items">
{% for estate in real_estate %}
  <div class="container-product">
  <div class="card">
    <div class="card-head">
      <img src="{% static 'assets/types-of-homes-hero.jpg' %}" alt="Shoe" class="product-img">
      <div class="product-detail">
        <h2>{{estate.title}}</h2> {{estate.text|truncatewords:2}}
      </div>
    </div>
    <div class="card-body">
      <div class="product-desc">
        <span class="product-title">
          {{estate.title|truncatewords:2}}<b>{{estate.text|truncatewords:2}}</b>
                <span class="badge">
                  New
                </span>
        </span>
        <span class="product-caption">
                {{estate.address}}
              </span>
        <span class="product-rating">
          {% with ''|center:estate.rating as range%}
              {% for _ in range %}
                <i class="fa fa-star"></i>
              {% endfor %}
          {% endwith%}
        </span>
      </div>
      <div class="product-properties">
        <span class="product-size">
                <h4>Size</h4>
                <ul class="ul-size">
                    {{estate.number_of_rooms}}
                </ul>
              </span>
        <span class="product-color">
                <h4>Colour</h4>
                <ul class="ul-color">
                  <li><a href="#" class="orange active"></a></li>
                  <li><a href="#" class="green"></a></li>
                  <li><a href="#" class="yellow"></a></li>
                </ul>
              </span>
        <span class="product-price">
                USD<b>{{estate.price}}</b>
              </span>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}